.msg_sucesss{
    background-color: green;
    position: absolute;
    padding: 2rem;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    font-family: 'League Spartan', sans-serif;
    border-radius: 10px;
    right: 5px;
    top: 0px;
    animation-name: anima_msg;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    display: none;


  }

  @keyframes anima_msg {
    0%{opacity: 0; transform: translateX(0px);}
    50%{opacity: 1; transform: translateX(-40px);}
    100%{transform:translateX(0px); }
  }
  .fade-out{
    animation-name: fade-out;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;

  }
  @keyframes fade-out{
    from{opacity: 1;}
    to{opacity: 0;}
  }